solution/test/
replay/

.venv/
solution/__pycache__/
solution/log/__pycache__/
solution/path_planing/__pycache__/

log_info.txt
log_error.txt
solution/release/
test/

solution/__pycache__/main.cpython-310.pyc
solution/core/__pycache__/__init__.cpython-310.pyc
solution/core/__pycache__/berth.cpython-310.pyc
solution/core/__pycache__/boat.cpython-310.pyc
solution/core/__pycache__/robot.cpython-37.pyc
solution/core/__pycache__/robot.cpython-310.pyc
solution/core/__pycache__/utils.cpython-310.pyc
solution/log/__pycache__/logger.cpython-310.pyc
.gitignore
solution/log/__pycache__/logger.cpython-310.pyc
solution/__pycache__/main.cpython-310.pyc
